<% if flash.present? %>
  <div class="flash">
    <% flash.each do |key, value| %>
      <div class="<%= foundation_class_for key %> callout" data-closable>
        <%= value %>
        <button class="close-button" aria-label="Закрыть уведомление" type="button" data-close>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
  </div>
<% end %>
