<p>Здравствуйте, <%= @resource.email %>!</p>

<p>Вы запросили ссылку на изменение пароля. Задайте новый пароль по ссылке ниже.</p>

<p><%= link_to 'Сменить мой пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если вы не запрашивали ссылку на восстановление пароля, просто проигнорируйте это письмо.</p>
<p>Ваш пароль не будет изменен до тех пор, пока вы не пройдете по ссылку выше и не выберите новый.</p>
