<p>Здравствуйте, <%= @resource.email %>!</p>

<p>Ваш аккаунт был заблокирован за превышение лимита неудачных попыток входа в систему.</p>

<p>Пройдите по ссылку ниже, чтобы разблокировать ваш аккаунт:</p>

<p><%= link_to 'Разблокировать мой аккаунт', unlock_url(@resource, unlock_token: @token) %></p>
